[submodule "libcurl"]
  path = libcurl
  url = https://github.com/curl/curl
[submodule "libjansson"]
  path = libjansson
  url = https://github.com/akheron/jansson
[submodule "ftl-photon"]
	path = ftl-photon
	url = https://github.com/WatchBeam/ftl-photon
